.lfr__object-web-modal-add-object-definition-storage-type {
	display: grid;
	position: relative;
}

.lfr__object-web-modal-add-object-definition-storage-type-beta {
	left: 135px;
	position: absolute;
}
